<main class="main-main mb-20">
    <div class="max-w-8xl mx-auto">
        <section>
            <h1 data-aos="fade-down" class="text-center" style="font-size: 30px;"><b>ABOUT ME</b></h1>
            <div data-aos="fade-down" class="border-b border-2 my-7 mx-auto border-sky-700" style="width: 80px;"></div>
            <p data-aos="fade-up" class="text-base text-gray-600 text-center">
                My name is Yan Phearak <span class="name-home-kh font-bold"> (យ៉ាន់ ភារក្ស)</span>. I'm working at Public Minitry works and transport as a Web Developer responsible in developing Backend system, Web application; <br>
                <i>I'm intested in DevOps Engineer too</i> .
            </p>
        </section>

        <section data-aos="fade-up" class="grid  grid-cols-1 lg:grid-cols-3  lg:gap-6 mt-12 bg-white rounded-lg p-5 shadow-lg overflow-hidden">
            <div>
                <img src="../../../assets/images/about (2).jpg" width="100%" alt="">
            </div>
            <div class="col-span-2">
                <h1 style="font-size: 28px;"><b class="mt-5 block lg:mt-0 ">Student & Web Developer</b></h1>
                <div class="grid grid-cols-2 background-about text-lg text-gray-600">
                    <div >
                        <ul>
                            <li>
                                <b class="text-sm lg:text-base">Birthday: </b> <span >29 March 2001</span>
                            </li>
                            <li>
                                <b class="text-sm lg:text-base">Gender: </b> <span>Male</span>
                            </li>

                            <li>
                                <b class="text-sm lg:text-base">City: </b> <span>Phnom Penh</span>
                            </li>
                            <li>
                                <b class="text-sm lg:text-base">Contact: </b> <span>010 87 82 06</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <b class="text-sm lg:text-base">Status: </b> <span >Single</span>
                            </li>
                            <li>
                                <b class="text-sm lg:text-base">Degree: </b> <span >Year III Student</span>
                            </li>
                            <li>
                                <b class="name-home-kh">ចិត្តស្មោះ: </b> <span>100 %</span>
                            </li>

                            <li>
                                <b class="text-sm lg:text-base">Yanphearak.program@gmail.com </b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt-8">
                    <h1 style="font-size: 28px;"><b class="name-home-kh">ហេតុអ្វីខ្ញុំសម្រេចចិត្តរៀន IT ?</b></h1>
                    <p class="name-home-kh text-base">ខ្ញុំជាក្មេងប្រុសដែលមានចំណង់ចំណូលចិត្តជាមួយបច្ចេកវិទ្យាតាំងពីកុមារ។</p>
                    <p class="border-l-4 border-sky-700 px-4"><i class="name-home-kh text-base ">ខ្ញុំបានប៉ះកុំព្យូទ័រដំបូងបង្អស់កាលពីខ្ញុំរៀននៅថ្នាក់ទី៦ ​ប៉ុន្តែសោកស្តាយវាមិនមែនជារបស់ខ្ញុំទេ តែពេលនោះគឺជាវេលាដ៏ល្អ និង​ មិនអាចបំភ្លេចបាន​​។​ ខ្ញុំមិនដឹងច្រើនអំពីកុំព្យូទ័រទេនៅពេលនោះ រហូតទាល់តែថ្នាក់ទី ​១១ ទើបខ្ញុំទទួលបានកាដូកុំព្យូទ័រយ៉ាងសមរម្យពីអ្នកម៉ាក់ និង លោកប៉ា។</i></p>
                    <p class="name-home-kh text-base">ខ្ញុំតែងតែមានការចង់ដឹង ថាអ្វីៗនៅជុំវិញខ្លួនខ្ញុំដំណើរការដូចម្តេច។ ដោយសារដឺងពីចំណងចំណូលចិត្តខ្លួន ទើបខ្ញុំសម្រេចចិត្តចូលរៀន IT។</p>
                </div>
            </div>
        </section>

        <section>
            <h1 data-aos="fade-up" class="text-center" style="font-size: 30px; margin-top: 40px;"><b>SKILLS</b></h1>
            <div data-aos="fade-up" class="border-b border-2 my-7 mb-9 mx-auto border-sky-700" style="width: 80px;"></div>
            <div class="grid  grid-cols-1 lg:grid-cols-2 gap-8 mobile-about">
                <div data-aos="fade-up">
                    <h2><b>Fronted Development</b></h2>
                    <div class="border-b-2 my-5"> </div>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">HTML</label>
                        <label for="">100%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">CSS</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>

                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Javascript</label>
                        <label for="">70%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Typescript</label>
                        <label for="">70%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Bootstrap</label>
                        <label for="">90%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Tailwind Css</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Jquery</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Angular</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>
                </div>
                <div data-aos="fade-up">
                    <h2><b>Backend Development</b></h2>
                    <div class="border-b-2 my-5"> </div>

                    <div class="text-base mb-2 flex justify-between">
                        <label for="">PHP</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="">Laravel</label>
                        <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>

                    <div class="text-base mb-2 flex justify-between">
                      <label for="">Node js</label>
                      <label for="">80%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar> <br>

                    <br>
                    <h2><b>Databases</b></h2>
                    <div class="border-b-2 my-5"> </div>
                    <div class="text-base mb-2 flex justify-between">
                        <label  for="">SQL</label>
                        <label for="">Mysql</label>
                    </div>
                    <div class="text-base mb-2 flex justify-between">
                        <label  for="">NO SQL</label>
                        <label for="">Mongo DB</label>
                    </div> <br>
                    <h2><b>Hard Skill </b></h2>
                    <div class="border-b-2 my-5"> </div>
                    <div class="text-base mb-2 flex justify-between">
                        <label for="" class="name-home-kh">ស្មោះស្នេហ៏</label>
                        <label for="">100%</label>
                    </div>
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar> <br>
                </div>
            </div>
        </section>

        <section class="mobile-about">
            <h1 data-aos="fade-up" class="text-center" style="font-size: 30px; margin-top: 40px;"><b>Timelines</b></h1>
            <div data-aos="fade-up" class="border-b border-2 my-7 mb-9 mx-auto border-sky-700" style="width: 80px;"></div>
            <article data-aos="fade-up">
                <h2><b class="text-sky-700">2023</b></h2>
                <div class="px-5">
                    <b class="text-base">Web Developer</b>
                    <ul class="mt-3 text-base">
                        <li>- Develop Api and System, Ministry of public works and transport</li>
                        <li>- Develop Api and POS System, Camcyber</li>
                    </ul>
                    <img class="rounded-md img-mobile-highschool mt-3 shadow-lg" src="../../../assets/images/profile1.jpg" style="width: 200px;" alt="">
                </div>
            </article>
            <article data-aos="fade-up" class="mt-8" >
                <h2><b class="text-sky-700">2021</b></h2>
                <div class="px-5 text-base">
                    <b class="text-base">Web Supporter</b>
                    <p class="mt-3"><i class="bi bi-check2-circle text-yellow-600 mr-2"></i> Support with basic C/C++, HTML, CSS, Bootstrap, Javascript, Jquery and PHP at ETEC CENTER</p>
                    <img class="rounded-md img-mobile-highschool shadow-lg" src="../../../assets/images/etec.jpg" style="width: 200px;" alt="">
                </div>
            </article>
            <article data-aos="fade-up" class="mt-8" >
                <h2><b class="text-sky-700">2020</b></h2>
                <div class="px-5 text-base">
                    <b class="text-base">Start school at Royal University of Phnom Penh</b>
                    <div class="mt-3">
                      <span class="text-yellow-800">#include&lt;<span class="text-sky-800">iostream</span>&gt;</span> <br>
                      <span class="text-sky-800">using namespace std;</span>
                      <br>
                      <span class="text-yellow-800"> void main&#40;&#41;</span>
                      <div class="pl-9">
                        cout&lt;&lt;"Hello World";
                      </div>
                    </div>
                    <div class="my-5">
                        <button mat-raised-button (click)="loading()"> <i class="bi bi-caret-right-fill"></i> {{buttonValue}}</button>
                    </div>
                    <div class="border-b-2 my-3"></div>
                    <b class="text-base">Graduated 😁👨🏼‍🎓</b>
                    <p class="mt-3"><i class="bi bi-check2-circle text-yellow-600 mr-2"></i> Beltei Hight School Diploma </p>
                    <div>
                        <img class="rounded-md img-mobile-highschool shadow-lg" src="../../../assets/images/IMG_20210415_081132.jpg" style="width: 200px;" alt="">
                    </div>
                </div>
            </article>
            <article data-aos="fade-up" class="mt-8">
                <h2><b class="text-sky-700">2019</b></h2>
                <div class="px-5 text-base">
                    <b class="text-base">High school 🤟</b>
                    <p>Sleep, eat, work, study ...</p>
                </div>
            </article>
            <article data-aos="fade-up" class="mt-8">
                <h2><b class="text-sky-700">2001</b></h2>
                <div class="px-5 text-base">
                    <b class="text-base">Born 👶🏼🤟</b>
                </div>
            </article>

        </section>
    </div>
</main>


