img{
    object-fit: cover;
    transition: 0.3s;
    overflow: hidden;
}
.thumbnail:hover .brightness-50{
    --tw-brightness: brightness();
}
.thumbnail{
    overflow: hidden;
}
.thumbnail:hover img:hover{
    transform: scale(1.1);
}
.thumbnail:hover .brightness-50{
    transform: scale(1.1);
}

.limit-title{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.title-card-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.des-card-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.right-thumbnail{
    height: 255px !important;
}


/*responsive code*/
/*mobile phone*/
@media (max-width: 575px) {
    .left-main-img, .thumbnail-main-right{
        height: 255px !important;
    }
    .thumbnail-detail{
        width: 100% !important;
    }
    .mobile-100{
        width: 100% !important;
    }
    .main-title-thumbnail{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        line-height: 35px !important;
    }
    .main-title-thumbnail{
        font-size: 25px !important;
    }
}


/*ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    
} 

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199px) {
    
} 

/*laptop*/
@media (min-width: 1200px)  {
}