<main class="main-main mb-20">
    <div class="max-w-8xl mx-auto">
        
        <section class="px-2 lg:px-0">
            <marquee onmouseover="this.stop()" onmouseout="this.start()" behavior="" direction="" class="name-home-kh text-base bg-white p-3 shadow-md rounded">
                <i class="ml-5 bi bi-chevron-double-right text-sky-700 text-sm mr-1"></i> ធ្វើពីតូចទៅធំ សិប្បកម្ម១កន្លែង ចាយទុនត្រឹម ១០ម៉ឺនរៀល មកផលិតពោតអប់លក់១ខែលក់ដាច់រាប់រយគីឡូ
                <i class="ml-5 bi bi-chevron-double-right text-sky-700 text-sm mr-1"></i> ធ្វើពីតូចទៅធំ សិប្បកម្ម១កន្លែង ចាយទុនត្រឹម ១០ម៉ឺនរៀល មកផលិតពោតអប់លក់១ខែលក់ដាច់រាប់រយគីឡូ
            </marquee>
        </section>

        <section>
            <div class="mt-10 lg:grid lg:grid-cols-3 gap-10">
                <div class="col-span-2 px-2 lg:p-0">
                    <div class="thumbnail relative">
                        <a routerLink="detail">
                            <img class="w-full left-main-img brightness-50 rounded hover:brightness-100 " src="https:via.placeholder.com/500" style="height: 580px;"  alt="">
                            <div class=" thumbnail-detail   w-2/4 text-white absolute h-full top-0 flex items-center p-5">
                                <div>
                                    <h1 class="name-home-kh main-title-thumbnail" style="font-size: 35px; line-height: 44px;">ក្រុមហ៊ុន Tesla ប្រមូលរថយន្ត២ ម៉ូឌែលនេះចូលឃ្លាំងវិញជាង ៣សែនគ្រឿង ក្រោយរកឃើញបញ្ហា១នេះ</h1>
                                    <button class="name-home-kh mt-3  bg-sky-700 p-2 py-1.5 rounded-md"><i class="bi bi-caret-right-fill"></i> ចំណេះដឹងទូទៅ</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="mobile-100 mt-5 lg:mt-0 px-2 lg:p-0">
                    <div class="thumbnail relative">
                        <a routerLink="detail">
                            <img class="thumbnail-main-right w-full brightness-50 rounded hover:brightness-100 " src="https:via.placeholder.com/200x200" style="height: 270px;"   alt="">
                            <div class=" thumbnail-detail   w-2/4 text-white absolute h-full top-0 flex items-center p-5">
                                <div>
                                    <h1 class="name-home-kh limit-title" style="font-size: 25px;">What is Docker? How does it work? What is Docker Container?</h1>
                                    <button class="name-home-kh mt-3  bg-sky-700 p-2 py-1.5 rounded-md"><i class="bi bi-caret-right-fill"></i> មេរៀន</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="thumbnail relative mt-5 lg:mt-10 ">
                        <a routerLink="detail">
                            <img class="thumbnail-main-right w-full brightness-50 rounded hover:brightness-100 " src="https:via.placeholder.com/200x200" style="height: 270px;"   alt="">
                            <div class=" thumbnail-detail   w-2/4 text-white absolute h-full top-0 flex items-center p-5">
                                <div>
                                    <h1 class="name-home-kh limit-title" style="font-size: 25px;">How to watch SpaceX's Crew Dragon abort test live online this Sunday | Space</h1>
                                    <button class="name-home-kh mt-3  bg-sky-700 p-2 py-1.5 rounded-md"><i class="bi bi-caret-right-fill"></i> បច្ចេកវិទ្យា</button>
                                </div>
                            </div>
                        
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="grid grid-cols-1 px-2 lg:grid-cols-4 mt-20 gap-6">
                <div class="flex items-center hidden lg:flex">
                    <div>
                        <span class="font-bold name-home-kh text-2xl">ចំណេះដឹងទូទៅ </span>
                        <div class="border-b-2 border-sky-800 my-4 mb-5"></div>
                        <button class="name-home-kh text text-base border-2 border-sky-800 p-3 py-1.5 rounded">មើលទាំងអស់</button>
                    </div>
                </div>

                <div class="flex justify-between lg:hidden">
                    <span class="font-bold name-home-kh text-xl">ចំណេះដឹងទូទៅ </span>
                    <button class="name-home-kh text text-base underline text-sky-800">មើលទាំងអស់</button>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>


        <section>
            <div class="grid grid-cols-1 px-2 lg:grid-cols-4 mt-20 gap-6">
                <div class="flex items-center hidden lg:flex">
                    <div>
                        <span class="font-bold name-home-kh text-2xl">មេរៀន </span>
                        <div class="border-b-2 border-sky-800 my-4 mb-5"></div>
                        <button class="name-home-kh text text-base border-2 border-sky-800 p-3 py-1.5 rounded">មើលទាំងអស់</button>
                    </div>
                </div>

                <div class="flex justify-between lg:hidden">
                    <span class="font-bold name-home-kh text-xl">មេរៀន </span>
                    <button class="name-home-kh text text-base underline text-sky-800">មើលទាំងអស់</button>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section>
            <div class="grid grid-cols-1 px-2 lg:grid-cols-4 mt-20 gap-6">
                <div class="flex items-center hidden lg:flex">
                    <div>
                        <span class="font-bold name-home-kh text-2xl">បច្ចេកវិទ្យា </span>
                        <div class="border-b-2 border-sky-800 my-4 mb-5"></div>
                        <button class="name-home-kh text text-base border-2 border-sky-800 p-3 py-1.5 rounded">មើលទាំងអស់</button>
                    </div>
                </div>

                <div class="flex justify-between lg:hidden">
                    <span class="font-bold name-home-kh text-xl">បច្ចេកវិទ្យា </span>
                    <button class="name-home-kh text text-base underline text-sky-800">មើលទាំងអស់</button>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
                <div class="shadow-lg rounded-md overflow-hidden"> 
                    <a routerLink="detail">
                        <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                        <div class="card-detail p-2 px-3 bg-white">
                            <div class="text-xs rounded my-2" >
                                <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                            </div>
                            <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                            <div class="name-home-kh text-base des-card-text">
                                ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>
