<main class="main-main mb-20">
    <div class="max-w-8xl mx-auto">
        <section>
            <h1 data-aos="fade-down" class="text-center" style="font-size: 30px;"><b>RESUME</b></h1>
            <div data-aos="fade-down" class="border-b border-2 my-7 mx-auto border-sky-700" style="width: 80px;"></div>
            <p data-aos="fade-up" class="text-base text-gray-600 text-center">
                I am flexible, reliable, self-motivated and hard-working person. <br> I'm
                able to handle working under pressure as well as communicate and
                collaborate seamlessly in a teamwork environment
            </p>
        </section>

        <!-- <section class="mt-12">
            <div class=" bg-white shadow-md rounded-md p-5 flex items-center">
                <img src="../../../assets/images/cv.png" style="width: 200px;" class="shadow-md mr-20" alt="">
                <div>
                    <h2 style="margin: 0px; margin-bottom: 20px;" class="text-sky-800"><b>Download My Resumes</b></h2>
                    <p class="name-home-kh text-lg" style="margin-bottom: 20px;">CV មនុស្សស្មោះ</p>
                    <button mat-raised-button>Donwload &nbsp; <i class="bi bi-person-bounding-box text-sm"></i></button>
                </div>

            </div>
        </section> -->

        <section>
            <div class="bg-white p-5 rounded-md shadow-md grid grid-cols-1 mobile-about lg:grid-cols-2 mt-12 gap-6">
                <div data-aos="fade-up">
                    <h1 class="">Education</h1>

                    <div class="border-b-2"></div>

                    <article class=" lg:mt-10">
                        <b class="text-base border-l-2 border-sky-700 block px-3 mb-2 lg:mb-5">Year III ( Department Computer Science)</b>
                        <b class="block text-gray-500">2020-Present</b>
                        <i class="text-gray-500 ">Currently, I'm 3rd year student at RUPP </i>
                    </article>
                    <article class="mt-5 lg:mt-10">
                        <b class="text-base border-l-2 border-sky-700 block px-3 mb-2 lg:mb-5">Beltei Hight School Diploma</b>
                        <b class="block text-gray-500">2017-2020</b>
                        <i class="text-gray-500">Beltei Internation School</i>
                    </article>
                </div>
                <div data-aos="fade-up" class="mt-10 lg:mt-0">
                    <h1>Experience</h1>
                    <div class="border-b-2"></div>

                    <article class="mt-0 lg:mt-10">
                        <b class="text-base border-l-2 border-sky-700 block px-3 mb-2 lg:mb-5">Backend Developer</b>
                        <b class="block text-gray-500">2022 - present</b>
                        <i class="text-gray-500">Minitry of public works and transport</i>
                        <ul class="text-base mt-3">
                            <li>- Develop on Road Care <span class="name-home-kh">ប្រព័ន្ទថែទាំផ្លូវ</span> (API + WEB)</li>
                            <li>- Develop API on Deduction Point's system <span class="name-home-kh"> ប្រព័ន្ទកាត់ពន្ទុបណ្ណបើកបរ </span> (API)</li>
                            <li>- Develop on Refill Deduction Point's System (API + WEB)</li>
                        </ul>
                    </article>

                    <article class="mt-10">
                        <b class="text-base border-l-2 border-sky-700 block px-3 mb-2 lg:mb-5">Part Time Job</b>
                        <b class="block text-gray-500">2022 - present</b>
                        <i class="text-gray-500">CamCyber, Tuek Tla</i>
                        <ul class="text-base mt-3">
                            <li>- Basic POS Application (WebApp using Angular & Laravel as API) </li>
                        </ul>
                    </article>

                    <article class="mt-10">
                        <b class="text-base border-l-2 border-sky-700 block px-3 mb-2 lg:mb-5">Internship at ETEC CENTER</b>
                        <b class="block text-gray-500">2021 - 2022</b>
                        <i class="text-gray-500">ETEC CENTER</i>
                        <ul class="text-base mt-3">
                            <li>- I used to support relate to basic C Programming, HTML CSS,Boostrap, Basic Javascript and Basic PHP</li>
                        </ul>
                    </article>


                </div>
            </div>
        </section>

    </div>
</main>
