
<main class="main-main w-full mb-20">
    <div class="max-w-8xl mx-auto p-5 px-6 rounded bg-white w-full ">
        <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-8">
            <article class="col-span-3">
                <div class="name-home-kh text-3xl font-bold">
                    ក្រុមហ៊ុន Tesla ប្រមូលរថយន្ត២ ម៉ូឌែលនេះចូលឃ្លាំងវិញជាង ៣សែនគ្រឿង ក្រោយរកឃើញបញ្ហា១នេះ
                </div>
                <div class="text-xs rounded my-3 flex justify-between items-center" >
                    <div>
                        <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                    </div>
                    <p class="text-base name-home-kh">ចំនួនអ្នកទស្សនា: ០</p>
                </div>
                <div class="border-b-2 mb-3"></div>
                <p class="name-home-kh text-base">
                    ក្រោយ​ទទួល​ពាន​រង្វាន់​លេខ១​ សៀក​ ពេជ្រ​ និង​ ប៊ុន ថេង​ បាន​ឲ្យ​ដឹង​ថា​ ចំពោះ​ការ​ប្រកួត​នេះ​គឺ​មាន​កីឡាករ​ខ្លាំង​ៗ​ច្រើន​ ចំណែក​ការ​ជិះ​ប្រកួត​ក៏​ច្រើន​ជុំ​ និង​យូរ​ផង​ដែរ។​ ហេតុ​នេះ​ហើយ​ទើប​មុន​ការ​ប្រកួត​ខ្លួន​មិន​សូវ​សង្ឃឹម​ឈាន​ដល់​ការ​ឈ្នះ​លេខ១​ នោះ​ទេ។​
                    ម្ចាស់​ជយលាភី​លេខ១​​រូប​នេះ​បន្ថែម​ទៀត​ថា​​ដោយ​សារ​តែ​ការ​សហការ​គ្នា​​ការ​យល់ចិត្ត​​ពិសេស​ការ​ឲ្យ​សញ្ញា​ទៅ​គ្នា​ទៅ​វិញ​ទៅ​មក​​និង​ក្រុម​បច្ចេកទេស​បាន​រៀបចំ​បាន​ល្អ​ហើយ​រហ័ស​នាំ​ឲ្យ​ក្រុម​ទាំង​មូល​អាច​ដណ្ដើម​បាន​លេខ១​​លើ​ផ្នែក​​Endurance​​នេះ។​
                    បញ្ជាក់​ដែរ​ថា​​ព្រឹត្តិការណ៍​ប្រណាំង​ម៉ូតូ​លើ​វាលរាប​​ឬ​​ELF​CUP​RACE​ENDURANCE​​ម្សិលមិញ​នេះ​បាន​បញ្ចប់​ការ​ប្រកួត​ថ្ងៃ​ទី១​​របស់​ខ្លួន​ហើយ​ក្នុង​នោះ​ម្ចាស់​ពាន​រង្វាន់​លេខ១​​បាន​លើ​កីឡាករ​​សៀក​​ពេជ្រ​​និង​​ប៊ុន​ថេង​​មក​ពី​ក្រុម​​PT​Racing​Team។​​ដោយ​ឡែក​សម្រាប់​ថ្ងៃ​ទី២​​នេះ​គឺ​កំពុង​ដំណើរ​ការ​ប្រកួត​បន្ត​ទៀត​ដើម្បី​ស្វែង​រក​ម្ចាស់​ពាន​រង្វាន់​ប្រភេទ​​Class​​​ផ្សេងៗ​ទៀត៕​
                </p>
                <div class="banner my-2">
                    <img class="w-full" src="https://cdn.sabay.com/cdn/media.sabay.com/media/sabay-news/Sport-News/Local-Sports/Autor-racing/639557e129704_1670731740_large.jpg" alt="">
                </div>
                <p class="name-home-kh text-base">
                    ក្រោយ​ទទួល​ពាន​រង្វាន់​លេខ១​ សៀក​ ពេជ្រ​ និង​ ប៊ុន ថេង​ បាន​ឲ្យ​ដឹង​ថា​ ចំពោះ​ការ​ប្រកួត​នេះ​គឺ​មាន​កីឡាករ​ខ្លាំង​ៗ​ច្រើន​ ចំណែក​ការ​ជិះ​ប្រកួត​ក៏​ច្រើន​ជុំ​ និង​យូរ​ផង​ដែរ។​ ហេតុ​នេះ​ហើយ​ទើប​មុន​ការ​ប្រកួត​ខ្លួន​មិន​សូវ​សង្ឃឹម​ឈាន​ដល់​ការ​ឈ្នះ​លេខ១​ នោះ​ទេ។​ ម្ចាស់​ជយលាភី​លេខ១​​រូប​នេះ​បន្ថែម​ទៀត​ថា​​ដោយ​សារ​តែ​ការ​សហការ​គ្នា​​ការ​យល់ចិត្ត​​ពិសេស​ការ​ឲ្យ​សញ្ញា​ទៅ​គ្នា​ទៅ​វិញ​ទៅ​មក​​និង​ក្រុម​បច្ចេកទេស​បាន​រៀបចំ​បាន​ល្អ​ហើយ​រហ័ស​នាំ​ឲ្យ​ក្រុម​ទាំង​មូល​អាច​ដណ្ដើម​បាន​លេខ១​​លើ​ផ្នែក​​Endurance​​នេះ។​ បញ្ជាក់​ដែរ​ថា​​ព្រឹត្តិការណ៍​ប្រណាំង​ម៉ូតូ​លើ​វាលរាប​​ឬ​​ELF​CUP​RACE​ENDURANCE​​ម្សិលមិញ​នេះ​បាន​បញ្ចប់​ការ​ប្រកួត​ថ្ងៃ​ទី១​​របស់​ខ្លួន​ហើយ​ក្នុង​នោះ​ម្ចាស់​ពាន​រង្វាន់​លេខ១​​បាន​លើ​កីឡាករ​​សៀក​​ពេជ្រ​​និង​​ប៊ុន​ថេង​​មក​ពី​ក្រុម​​PT​Racing​Team។​​ដោយ​ឡែក​សម្រាប់​ថ្ងៃ​ទី២​​នេះ​គឺ​កំពុង​ដំណើរ​ការ​ប្រកួត​បន្ត​ទៀត​ដើម្បី​ស្វែង​រក​ម្ចាស់​ពាន​រង្វាន់​ប្រភេទ​​Class​​​ផ្សេងៗ​ទៀត៕​
                </p> 

                <div class="banner my-2">
                    <img class="w-full" src="https://cdn.sabay.com/cdn/media.sabay.com/media/sabay-news/Sport-News/Local-Sports/Volleyball-League-1/Slamball(2)/638ee923050df_1670310120_large.jpg" alt="">
                </div>
            </article>
            <article>
                <section>
                    <div class="name-home-kh text-3xl mt-5 lg:mt-0 font-bold">
                        Relate
                    </div>
                    <div class="border-b-2 my-4"></div>
                </section>

                
                <div class="mb-7 shadow-lg rounded-md overflow-hidden"> 
                    <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                    <div class="card-detail p-2 px-3 bg-white">
                        <div class="text-xs rounded my-2" >
                            <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                        </div>
                        <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                            ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                        </div>
                        <div class="name-home-kh text-base des-card-text">
                            ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                        </div>
                    </div>
                </div>

                
                <div class="mb-7 shadow-lg rounded-md overflow-hidden"> 
                    <img src="https:via.placeholder.com/400x200" class="w-full" alt="">
                    <div class="card-detail p-2 px-3 bg-white">
                        <div class="text-xs rounded my-2" >
                            <i class="bi bi-calendar-event mr-1"></i> 29-Jan-2022
                        </div>
                        <div class="name-home-kh my-3 mb-3 font-bold text-xl text-sky-800 title-card-text ">
                            ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                        </div>
                        <div class="name-home-kh text-base des-card-text">
                            ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន ផ្អាក៣ថ្ងៃ! រដ្ឋបាលរាជធានីភ្នំពេញ ប្រកាសឱ្យផ្អាកអាជីវកម្ម ៤ប្រភេទនេះចាប់ពីថ្ងៃទី៤ ដល់ទី៦ ខែធ្ន
                        </div>
                    </div>
                </div>



            </article>
        </div>
    </div>
</main>


